<a href="/#profile/<%= user.get("id") %>">
  <img id="user-profile-mini" src="<%=user.get("image_url")%>">
</a>
<a href="/#profile/<%= user.get("id") %>">
  <h4><%= user.get("name") %>, <%= user.get("age") %></h4>
</a>
<br>
<h5><%= user.get("city") %>,
  <% if (user.get("country") === "United States" ) { %>
    <%= user.get("state")%>
  <% } else { %>
    <%= user.get("country")%>
  <% } %></h5>
