<a href="/#profile/<%= user.get("id") %>">
  <img id="user-profile-mini" src="<%=user.get("image_url")%>">
</a>
<a href="/#profile/<%= user.get("id") %>">
  <h4><%= user.get("trip_name") %></h4>
</a>
<br>
<h5><%= user.get("name") %> (<%= user.get("age") %>) will be in <%= user.get("city") %>,
  <% if (user.get("country") === "United States" ) { %>
    <%= user.get("state")%>
  <% } else { %>
    <%= user.get("country")%>
  <% } %></h5>
<p>from <%= user.get("start_date") %> to <%= user.get("end_date") %> (<%=Math.floor(user.get("distance"))%> miles away from where you'll be!)</p>

<div class="">
  <ul id="similar-interests">
    <% user.get("similar_interests").forEach(function (interest) { %>
      <li><%=interest.name%></li>
    <% }) %>
  </ul>
  <p id="similar-interests-tag">Similar interests: </p>
</div>
