<h4><%=trip.get("name") || "No trip to display!"%></h4>

<% if (trip.get("name")) { %>
  Location: <h5><%=trip.get("city")%>,
    <% if (trip.get("country") === "United States" ) { %>
      <%= trip.get("state")%>
    <% } else { %>
      <%= trip.get("country")%>
    <% } %>
  </h5><br>
  Start Date: <h5><%=trip.get("start_date_string")%></h5><br>
  End Date: <h5><%=trip.get("end_date_string")%></h5><br>
  Owned By: <h5><%=trip.get("owner_name")%></h5>
  <div id="pending-requests"></div>
  <h4>You are meeting <%=trip.meetings%>
  <%=trip.meetings === 1 ? "person" : "people"%> </h4>
  <div id="user-meeters"></div>
  <a href="/#search/<%=trip.get("id")%>">
    <div id="search-users" class="meeter-item meeter-search">+</div>
  </a>

<% } else { %>
  <p>It seems like you have no trips. Create one on the left to get started!</p>
<% } %>
