<h3><%=trip.get("name")%></h3>
<h3><%=trip.get("city")%></h3
<%=trip.get("state")%>
<%=trip.get("start_date_string")%>
<%=trip.get("end_date_string")%>
<div id="pending-requests"></div>
<div id="user-meeters"></div>
