<form id="edit-profile-form" class="profile" action="" method="post">

  <div id="profile-header" class="container-fluid mypanel">
    <h2><%= user.get("name") %>, <%= user.get("age") %></h1>
    <label> Hometown
      <input id="hometown"
        value="<%= user.get("city")%>, <%= user.get("state")%>, <%= user.get("country")%>">
    </label>
  </div>

  <div id="profile-content" class="mypanel">
    <div id="about-me" class="profile-blurb">
      <h3>About Me</h3>
      <textarea name="user[about_blurb]"><%= user.escape("about_blurb") %></textarea>
    </div>
    <div id="about-me" class="profile-blurb">
      <h3>One Crazy Story About Me</h3>
      <textarea name="user[story_blurb]"><%= user.escape("story_blurb") %></textarea>
    </div>
    <div id="about-me" class="profile-blurb">
      <h3>When I travel, I like to...</h3>
      <textarea name="user[travel_blurb]"><%= user.escape("travel_blurb") %></textarea>
    </div>
  </div>

  <input type="hidden" geodata="locality"
    name="user[city]" value="<%=user.get("city")%>">
  <input type="hidden" geodata="lat"
    name="user[latitude]" value="<%=user.get("latitude")%>">
  <input type="hidden" geodata="lng"
    name="user[longitude]" value="<%=user.get("longitude")%>">
  <input type="hidden" geodata="administrative_area_level_1_short"
    name="user[state]" value="<%=user.get("state")%>">
  <input type="hidden" geodata="country"
    name="user[country]" value="<%=user.get("country")%>" >

</form>
<button id="save-profile" class="btn btn-success btn-block no-border-radius">
  Save Profile
</button>
