<div id="profile-header" class="container-fluid profile profile-header">
  <h1><%= profile.get("name") %>, <%= profile.get("age") %></h1>
  <h3><%= profile.get("hometown") %></h3>
</div>


<div id="profile-content" class="profile">
  <form class="edit-profile-form" action="index.html" method="post">
    <div id="about-me" class="profile-blurb">
      <h3>About Me</h3>
      <textarea name="profile[about_blurb]"><%= profile.escape("about_blurb") %></textarea>
    </div>
    <div id="about-me" class="profile-blurb">
      <h3>One Crazy Story About Me</h3>
      <textarea name="profile[story_blurb]" rows="8" cols="40"><%= profile.escape("story_blurb") %></textarea>
    </div>
    <div id="about-me" class="profile-blurb">
      <h3>When I travel, I like to...</h3>
      <textarea name="profile[travel_blurb]" rows="8" cols="40"><%= profile.escape("travel_blurb") %></textarea>
    </div>
  </form>
</div>
<button id="save-profile" class="btn btn-success btn-block no-border-radius">
  Save Profile
</button>
