<div id="profile-header" class="container-fluid profile profile-header">
  <div class="name"><h1><%= profile.get("name") %></h1></div>
  <div class="hometown"><h3> <%= profile.get("hometown") %></h3></div>
  <div class="age"><h1><%= profile.get("age") %> </h1></div>
</div>

<div id="profile-content" class="profile">
  <div id="about-me" class="profile-blurb">
    <h3>
      About Me
    </h3>
    <p>
      <%= profile.escape("about_blurb") %>
    </p>
  </div>
  <div id="about-me" class="profile-blurb">
    <h3>One Crazy Story About Me</h3>
    <p>
      <%= profile.escape("story_blurb") %>
    </p>
  </div>
  <div id="about-me" class="profile-blurb">
    <h3>When I travel, I like to...</h3>
    <p>
      <%= profile.escape("travel_blurb") %>
    </p>
  </div>
</div>
