<div id="profile-header">
  <h1><%= userData.name %></h1>
  <h3><%= profile.hometown_id %></h3>
  <h1><%= userData.age %> </h1>
</div>

<div id="profile-content">
  <h5>About Me</h5>
  <%= profile.about_blurb %>
  <h5>One Crazy Story About Me</h5>
  <%= profile.story_blurb %>
  <h5>When I travel, I like to...</h5>
  <%= profile.travel_blurb %>
</div>
