<!DOCTYPE html>
<html>
<head>
  <title>Traverse</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/overcast/jquery-ui.css">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>

   <script type="text/javascript" charset="utf-8">
     window.CLOUDINARY_OPTIONS = {
       cloud_name: "<%=ENV['CLOUD_NAME']%>",
       upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
       cropping: "server",
       cropping_aspect_ratio: 1,
       theme: "minimal"
     };
   </script>
</head>
<body>

<%= yield %>

</body>


<div id="footer" class="row">
  <div class="col-lg-3 col-xs-12"><h5> Site by Kevin Xu © 2015</h5></div>
  <div class="col-lg-3 col-xs-12"><h5> Contact: 1kevinxu1@gmail.com</h5></div>
  <div class="col-lg-3 col-xs-12">
    <a href="https://github.com/1kevinxu1" target="_">
      <h5> Github</h5>
    </a>
  </div>
  <div class="col-lg-3 col-xs-12">
    <a href="https://github.com/1kevinxu1/Traverse" target="_">
      <h5> Source Code</h5>
    </a>
  </div>
</div>

</html>
